@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Space Mono", monospace;
  font-weight: 400;

  height: 100%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #101010;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  height: 100svh;
  scrollbar-gutter: stable both-edges;
}

#command {
  color: #73ABAD;
  font-size: 14px;
}

#commander {
  color: #73ABAD;
  text-shadow: 0 0 5px #73ABAD;
}

/* Scrollbar */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #c5c7ca transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #a0aec0;
  border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}